<div>

    <mat-form-field appearnce="outline">
        <input matInput type="text" placeholder="Full Name" [(ngModel)]="updatedCustomer.fullName">
    </mat-form-field>
    <br>

    <mat-form-field appearnce="outline">
        <input matInput type="email" placeholder="UserName (Email)" [(ngModel)]="updatedUser.username">
    </mat-form-field>
    <br>

    <mat-form-field appearnce="outline">
        <input matInput type="password" placeholder="Password" [(ngModel)]="updatedUser.password">
    </mat-form-field>
    <br>

    <mat-form-field appearnce="outline">
        <input matInput type="date" placeholder="Date of birth" [(ngModel)]="updatedCustomer.dateOfBirth">
    </mat-form-field>
    <br>

    <label>Are you married</label>
    <br>
    <mat-radio-group [(ngModel)]="updatedCustomer.isMarried">
        <mat-radio-button value="true">Yes</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
    </mat-radio-group>
    <br>

    <mat-form-field appearnce="outline">
        <input matInput type="number" placeholder="Number of kids" [(ngModel)]="updatedCustomer.amountOfKids">
    </mat-form-field>
    <br>

    <button type="button" class="btn btn-default" data-dismiss="modal">
        <a (click)="updateCustomer()">Update</a></button>

</div>
